{% extends 'base.html.twig' %}

{% block title %}Edit Candidat{% endblock %}

{% block body %}
    <h1>Edit Candidat</h1>

    {{ include('cadidat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_cadidat_index') }}">back to list</a>

    {{ include('cadidat/_delete_form.html.twig') }}
{% endblock %}
